

  
@model Project_497.Models.Admin
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login page</title>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="~/Content/js/login.js"></script>
</head>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<body>
   
    <div class="login-page">
        <div class="form respo">
            <div >
                @using (Html.BeginForm("LoginAuthentication", "Login", FormMethod.Post))
            {
                    <table>
                        <tr class="form-group">
                           
                            <td >
                                @Html.LabelFor(model => model.userName)
                            </td>

                            <td >
                                @Html.TextBoxFor(model => model.userName,new {@class="form-control", @placeholder = "Name" })
                             
                            </td>
                        </tr>
                        <tr><td><label class="text-danger">@Html.ValidationMessageFor(model => model.userName)</label></td></tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.password)
                            </td>

                            <td>
                                @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = "Password" })
                              
                            </td>
                        </tr>
                        <tr><td><label class="text-danger">@Html.ValidationMessageFor(model => model.password)</label></td></tr>

                        <tr>
                            <td colspan="2">
                                <label class="text-danger"> @Html.DisplayFor(model => model.LoginErrorMessage)</label>
                            </td>
                        </tr>
                    </table>
                                                    
                             <input class="btn btn-primary small button button--inverted" style="background:#4CAF50" type="submit" value="Sign In">
                            <input class="btn btn-primary button button--inverted"style="background:#4CAF50" type="reset" value="Reset" />
                        

                   
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="js/index.js"></script>

</body>
</html>
