@model Project_497.Models.product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layout/LayoutPage.cshtml";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<div style="padding:50px"></div>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="font-weight:900; font-size:large;color:forestgreen">product</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.productId)

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.productName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.click, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.click, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.click, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.userId, "userId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.DropDownList("userId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
                </div>
            </div>

           

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.SubCategoryID, "SubCategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SubCategoryID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubCategoryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.categoryId, "categoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("categoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.sellStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.sellStartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sellStartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.sellEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.sellEndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sellEndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.offerImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.offerImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.offerImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.offerDetails, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.offerDetails, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.offerDetails, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.offerAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.offerAvailable, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.offerAvailable, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.LabelFor(model => model.Buy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Buy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buy, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.count, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.count, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.count, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.January, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.January, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.January, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.February, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.February, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.February, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.March, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.March, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.March, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.April, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.April, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.April, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.May, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.HiddenFor(model => model.May, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.May, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.June, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.June, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.June, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.July, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.HiddenFor(model => model.July, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.July, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.August, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.HiddenFor(model => model.August, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.August, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.September, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.HiddenFor(model => model.September, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.September, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.October, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.HiddenFor(model => model.October, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.October, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.November, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.November, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.November, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.December, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.December, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.December, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.PredectionResult, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.HiddenFor(model => model.PredectionResult, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PredectionResult, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.HiddenFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"style="font-weight:900; font-size:large;color:forestgreen">
                @Html.HiddenFor(model => model.previous_click, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="font-weight:900; font-size:large;color:forestgreen">
                    @Html.HiddenFor(model => model.previous_click, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.previous_click, "", new { @class = "text-danger" })
                </div>
            </div>
    }
</div>
<div style="font-weight:900; font-size:large;color:forestgreen">
    @Html.ActionLink("Back to List", "Index")
</div>
