@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Project_497.Models.product>
@{
    ViewBag.Title = "Purch Suggestion";
    Layout = "~/Views/Layout/LayoutPage.cshtml";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<div style="padding:50px"></div>
<table class="custome-div table table-bordered table-condensed table-responsive table-hover table-striped" style="background-color:rgb(123,209,209)">

    <tr>
        <th class="text-center text-success" style="font-weight:900">
            @Html.DisplayNameFor(model => model.First().productId)
        </th>
        <th class="text-center text-success" style="font-weight:900">
            @Html.DisplayNameFor(model => model.First().productName)
        </th>

        <th class="text-center text-success" style="font-weight:900">
            @Html.DisplayNameFor(model => model.First().price)
        </th>

        <th class="text-center text-success" style="font-weight:900">
            @Html.Label("Purches Suggestion")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.productId)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.productName)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.price)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Result)
            </td>


        </tr>
    }

</table>
<div class="=Div-Pagination" style="padding:80px">
    @Html.PagedListPager(Model, page => Url.Action("PurchaseSuggestionForAdmin", new { page = page }))
</div>